img{
    display: block;
    width: 100%;
    margin: auto;
}
.beverages,.starters,.main-course,.desserts,.breads{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-items{
    
    /* margin: 2rem; */
    display: grid;
    grid-template-columns:repeat(4,250px);
    gap: 2rem;
}
.card img{
    object-fit: cover;

    height: 300px;
}
@media (max-width:900px){
    .card-items{
        
    grid-template-columns:repeat(2,250px);
    }
}
@media (max-width:400px){
    .card-items{
        
    grid-template-columns:repeat(1,200px);
    }
}


#contactForm{
    max-width: 800px;
    margin: 1rem auto;
    
    display: flex;
    flex-direction: column;
}
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .about-section {
    margin: 0 2rem;
    gap: 2rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  .text-section {
    flex-basis: calc(60% - 20px); /* Adjust the width of the text section as needed */
    margin-right: 20px;
  }
  
  .image-section {
    flex-basis: calc(40% - 20px); /* Adjust the width of the image section as needed */
  }
  
  .image-section img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .about-section img{
    object-fit: cover;
    height: 400px;
  }

  @media (max-width:600px){
    .about-section {
        flex-direction: column-reverse;
    }
    .about-section img{
        height: 350px;
    }
    
  }